body{
    background-image: url("/static/img/background1.png");
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='background1.png',sizingMethod='scale');
    -ms-filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(src='background1.png',sizingMethod='scale')";
}

h3{
  color: white;
}

p{
  opacity: 1;
  color: black;
}

.subentry:hover
{
  box-shadow: 0 25px 60px rgba(0,0,0,.8);
}

.subentry select{
  padding: 15px 30px;
  margin: 15px 0px 0px 0px;
  width:100%
}

.subentry{
  width: 80%;
  height: 60%;
  margin: 0 auto;
  text-align: center;
  padding: 5%;
  border-radius: 25px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-top: 10%;
  background-color: rgba(255, 255, 255, 0.301);
}

#titleheader{
  width: 80%;
  height: 5%;
  text-align: center;
  margin: 0 auto;
  border-radius: 25px;
  font-size: 20px;
  color: white;
  margin-top: 5%;
  background-color:burlywood;
  margin-bottom:-5%;;
}

#navigator{
  background-color: #ffffff;
  text-align: center;
}

#form_wrapper{
  flex: 10;
}


p{
	text-align: center;
}

#submission{
  border-radius: 25px;
  border: 2px solid #B9B9B9;
  padding: 20px;
  text-align: center;
	background-color: white;
	width: 250px;
  height:200px;
  margin: 0 auto;
  margin-top: 75px;
}


input[type=submit] {
	width: 100px;
	text-align: center;
	border: 1px solid green;
  border-radius: 40px;
	padding: 10px;
	margin: 15px;
	transition: width 0.5s ease-in-out;
}

input[type=text]:focus{
	outline: none;
	background-color: #f7bcb5;
	width: 200px;
}

input[type=submit]:hover{
	outline: none;
	background-color: #9ff595;
	width: 150px;
}

.container{
  background-color: rgba(139, 69, 19, 0);
  min-width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
}

.block{
  width: 100%;
  min-height: 100vh;
}


#first_laptop {
  min-height: 80%;
  flex: 1;
}

#second_laptop{
  min-height: 80%;
  flex: 1;
  
}

.submit_container{
  margin: auto;
  margin-top: -15%;
  width: 100%;
  min-height: 10vh;
  text-align: center;
}

#sub:hover{
  color: aliceblue;
  border-color: white;
}

#sub{
  height: 60px;
  width: 80%;
  background-color: burlywood;
  border-radius: 0.12em;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 30px;
  text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
  text-align:center;
}

.select2-selection--single .select2-selection__rendered {
    color: #444;
    line-height: 28px;
    background: antiquewhite;
    padding: 1.5%;
}

.select2-results__option {
  padding: 6px;
  user-select: none;
  -webkit-user-select: none;
  background:rgb(255, 235, 208);
}

.bg-light {
  background-color: burlywood !important;
}

.error{
  color: red;
  font-size: medium;
  font-weight: bold;
  margin: auto;
  width: 60%;
  border-color: black;
  border-style: dashed;
  background-color: rgba(222, 184, 135, 0.712);
}

#bigtitle{
  color: white;
  font-size: 100px;
  font-weight: bolder;
  margin-left: 2%;
}

#resulttitle{
  width:80%;
  color: white;
  background-color: burlywood;
  margin-top: 5%;
  padding: 1%;
  border-radius: 25px;
  font-size: 30px;
  margin-left: 5%;
}

#result{
  padding: 5%;
  width:80%;
  color: white;
  background-color: rgba(222, 184, 135, 0.767);
  margin-top: -1%;
  border-radius: 25px;
  margin-left: 5%;
  font-size: 40px;
}

#maintitle{
  margin:auto;
  margin-top: 15%;
  font-size: 100px;
  font-weight: bold;
  text-shadow: 2px 2px 5px white;
  animation-duration: 2s;
  animation-name: slidein;
}

#navigator{
  border-radius: 25%;
  height: 40%;
  margin-top: 15%;
  padding-top: 5%;
  background-color: rgba(222, 184, 135, 0.753);
  font-size: 120%;
  color: white;
  animation-duration: 2s;
  animation-name: slideout;
}

@keyframes slidein {
  from {
      margin-top: 0%;
      font-size: 20px;
  }
  to {
      margin-top: 15%;
      font-size: 100px;
  }
}

@keyframes slideout {
  from {
      margin-top: 0%;
      padding-top: 5%;
      font-size: 10%;
  }
  to {
      margin-top: 15%;
      padding-top: 5%;
      font-size: 120%;
  }
}

#about{
  margin:auto;
  margin-top: 5%;
  font-size: 75px;
  font-weight: bold;
  text-shadow: 2px 2px 5px white;
  animation-duration: 2s;
  animation-name: slideinAbout;
  text-align: center;
}

@keyframes slideinAbout {
  from {
      margin-top: 0%;
      font-size: 20px;
  }
  to {
      margin-top: 5%;
      font-size: 75px;
  }
}