body{
    background-image: url("/static/img/background1.png");
    height: 100vh;
    width: 100%;
    background-size: cover;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='background1.png',sizingMethod='scale');
    -ms-filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(src='background1.png',sizingMethod='scale')";
    padding:0;
    margin:0;
}

h3{
  color: white;
}

p{
  opacity: 1;
  color: black;
}

.row{
  margin-top: 200px;
  margin: 0 auto;
}

.subentry:hover
{
  box-shadow: 0 25px 60px rgba(0,0,0,.8);
}

.subentry select{
  padding: 15px 30px;
  margin: 15px 0px 0px 0px;
  width:100%
}


.subentry{
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding: 20%;
  top:50%;
}

#navigator{
  background-color: #ffffff;
  text-align: center;
}

p{
	text-align: center;
}

.laptop_heading{
  font-size: 20px;
  text-align: center;
  color: white;
}


#first_laptop, #second_laptop{
  margin-top: 40px;
}


#submission{
  border-radius: 25px;
  border: 2px solid #B9B9B9;
  padding: 20px;
  text-align: center;
	background-color: white;
	width: 250px;
  height:200px;
  margin: 0 auto;
  margin-top: 75px;
}


input[type=submit] {
	width: 100px;
	text-align: center;
	border: 1px solid green;
  border-radius: 40px;
	padding: 10px;
	margin: 15px;
	transition: width 0.5s ease-in-out;
}

input[type=text]:focus{
	outline: none;
	background-color: #f7bcb5;
	width: 200px;
}

input[type=submit]:hover{
	outline: none;
	background-color: #9ff595;
	width: 150px;
}
