body{
    background-color: #666699;
    background-size: cover;

    height: 100vh;
    padding:0;
    margin:0;
}

#navigator{
  background-color: #ffffff;
}
.page_title{
  font-size: 35px;
  font-weight: bold;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-variant: small-caps;
	margin-top: 50px;
        color: red;
}

p{
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-variant: small-caps;
	font-size: 16px;
        color: white;
}

.laptop_heading{
  font-size: 20px;
  width: 300px;
  text-align: center;
  color: white;
}

#container{
  margin-top: 60px;
  display:flex;
  flex-wrap:wrap;
}

.laptop_form{
  padding: 20px;
	margin-top: 25px;
	text-align: center;
  background-color: #666699;
	width: 300px;
}



#first_laptop{
  margin: 0 auto;
  float:left;
  display:inline-block;
  margin-right: 100;
}

#second_laptop{
  margin: 0 auto;
  display:inline-block;
  float:right;
  margin-left: 100;
}


#submission{
  border-radius: 25px;
  border: 2px solid #B9B9B9;
  padding: 20px;
  text-align: center;
	background-color: white;
	width: 250px;
  height:200px;
  margin: 0 auto;
  margin-top: 75px;
}


input[type=text], input[type=submit]{
	width: 150px;
	text-align: center;
	border: 1px solid #6a0dad;
	padding:10px;
	margin: 15px;
	font-size:15px;
	transition: width 0.1s ease;
}

input[type=submit] {
	width: 100px;
	text-align: center;
	border: 1px solid green;
	padding: 10px;
	margin: 15px;
	transition: width 0.5s ease-in-out;
}

input[type=text]:focus{
	outline: none;
	background-color: #f7bcb5;
	width: 200px;
}

input[type=submit]:hover{
	outline: none;
	background-color: #9ff595;
	width: 150px;
}


#submit{
	margin: 20px;
	padding: 15px;
}
