<DOCTYPE! html>
<html>
	<link rel="stylesheet" href="LPGStyle.css">
	<head>
		<title>LPG</title>
		<h1>Laptop Price Gauge</h1>
	</head>
	<body>

  <div id=first_laptop_heading>
		<h2>First Laptop's Price<h2>
	</div>

	<div id=second_laptop_heading>
		<h2>Second Laptop's Price<h2>
	</div>

		<div id="first_laptop">
			<form>
				<input type="text" name="CPU" placeholder="CPU" autocomplete="off"><br>
				<input type="text" name="GPU" placeholder="GPU" autocomplete="off"><br>
				<input type="text" name="RAM" placeholder="RAM" autocomplete="off"><br>
				<input type="text" name="HDD" placeholder="HDD" autocomplete="off"><br>
				<input type="text" name="SSD" placeholder="SSD" autocomplete="off"><br>
			</form>
		</div>

		<div id="second_laptop">
			<form>
				<input type="text" name="CPU" placeholder="CPU" autocomplete="off"><br>
				<input type="text" name="GPU" placeholder="GPU" autocomplete="off"><br>
				<input type="text" name="RAM" placeholder="RAM" autocomplete="off"><br>
				<input type="text" name="HDD" placeholder="HDD" autocomplete="off"><br>
				<input type="text" name="SSD" placeholder="SSD" autocomplete="off"><br>
			</form>
		</div>

		<div id="submission">
			<form action="./LPG_Home.html">
				<input type="Submit" id="submitButton"><br>
				<input type="submit" class="BackButton" value="Back">
			</form>
		</div>


	</body>
</html>
