{% extends "Layout.html" %}

{% block title %}
<script src="https://code.jquery.com/jquery-2.1.1.min.js" type="text/javascript"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/js/select2.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
	var gpu = [];
	$(".dropdown").select2({
		data: gpu
	});
});
</script>
{% endblock %}


{% block body %}
<div id=container>

		<div id="first_laptop">

			<div class=laptop_heading>First Laptop's Price</div>

			<div class="laptop_form">
			<form action="{{ url_for('calculation') }}">
				<select class="dropdown" name="GPU1">
					{% for gpu in gpus %}
					<option value="{{ gpu.gpu }}">{{ gpu.gpu }}</option>
					{% endfor %}
				</select>
				<input type="text" name="CPU1" placeholder="CPU" autocomplete="off"><br>
				<input type="text" name="RAM1" placeholder="RAM" autocomplete="off"><br>
				<input type="text" name="HDD1" placeholder="HDD" autocomplete="off"><br>
				<input type="text" name="SSD1" placeholder="SSD" autocomplete="off"><br>
			</form>
			<div>

		</div>

		</div>
		</div>

		<div id="second_laptop">

			<div class=laptop_heading>Second Laptop's Price</div>

			<div class="laptop_form">
			<form>
				<select class="dropdown" name="GPU2">
					{% for gpu in gpus %}
					<option value="{{ gpu.gpu }}">{{ gpu.gpu }}</option>
					{% endfor %}
				</select>
				<input type="text" name="CPU2" placeholder="CPU" autocomplete="off"><br>
				<input type="text" name="RAM2" placeholder="RAM" autocomplete="off"><br>
				<input type="text" name="HDD2" placeholder="HDD" autocomplete="off"><br>
				<input type="text" name="SSD2" placeholder="SSD" autocomplete="off"><br>
			</form>
		</div>

	</div>

	</div>

		<div id="submission">
			<form action="./LPG_Home.html">
				<input type="Submit" id="submitButton"><br>
				<input type="submit" class="BackButton" value="Back">
			</form>
		</div>

{% endblock %}
