{% extends "Layout.html" %}

{% block title %}
LPG Tool
{% endblock %}

{% block body %}

<div id=container>

		<div id="first_laptop">

			<div class=laptop_heading>First Laptop's Price</div>

			<div class="laptop_form">
			<form>
				<input type="text" name="CPU" placeholder="CPU" autocomplete="off"><br>
				<input type="text" name="GPU" placeholder="GPU" autocomplete="off"><br>
				<input type="text" name="RAM" placeholder="RAM" autocomplete="off"><br>
				<input type="text" name="HDD" placeholder="HDD" autocomplete="off"><br>
				<input type="text" name="SSD" placeholder="SSD" autocomplete="off"><br>
			</form>

		</div>
		</div>

		<div id="second_laptop">

			<div class=laptop_heading>Second Laptop's Price</div>

			<div class="laptop_form">
			<form>
				<input type="text" name="CPU" placeholder="CPU" autocomplete="off"><br>
				<input type="text" name="GPU" placeholder="GPU" autocomplete="off"><br>
				<input type="text" name="RAM" placeholder="RAM" autocomplete="off"><br>
				<input type="text" name="HDD" placeholder="HDD" autocomplete="off"><br>
				<input type="text" name="SSD" placeholder="SSD" autocomplete="off"><br>
			</form>
		</div>

	</div>

	</div>

		<div id="submission">
			<form action="./LPG_Home.html">
				<input type="Submit" id="submitButton"><br>
				<input type="submit" class="BackButton" value="Back">
			</form>
		</div>

{% endblock %}
